<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @department.address %>
</p>

<p>
  <strong>Price:</strong>
  <%= @department.price %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @department.rooms %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @department.bathrooms %>
</p>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
