<div class="department-main-photo" style="background-image:url('<%= department_photo_url @department %>')">
  <div class="photo-overlay">
  </div>
</div>  

<div class="container">
  <div class="row">
    <div class="col-8">      
    <p>
      <strong>Name:</strong>
      <%= @department.name %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @department.address %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= @department.price %>
    </p>

    <p>
      <strong>Rooms:</strong>
      <%= @department.rooms %>
    </p>

    <p>
      <strong>Bathrooms:</strong>
      <%= @department.bathrooms %>
    </p>

    
    </div>
    <div class="col-4">
      <%= render "departments/agent_details"%>
      
    </div>
  </div>
</div>
